[submodule "edit-clojure-tool/clojure-mode"]
	path = edit-clojure-tool/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "edit-clojure-tools/clojure-mode"]
	path = edit-clojure-tools/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "edit-clojure-tools/midje-mode"]
	path = edit-clojure-tools/midje-mode
	url = git://github.com/marick/Midje.git
[submodule "edit-clojure-tools/slime"]
	path = edit-clojure-tools/slime
	url = git://git.boinkor.net/slime.git
[submodule "edit-clojure-tools/swank-clojure"]
	path = edit-clojure-tools/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "editor-tools/anything-config"]
	path = editor-tools/anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "editor-tools/twilight-emacs"]
	path = editor-tools/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
